<nav th:fragment="nav_bar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/inicio}">UTN-Videojuegos</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/inicio}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/crud}">CRUD</a>
                </li>
            </ul>
            <form class="d-flex" th:action="@{/busqueda}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>